@import "styles/normalize";
@import "styles/vars";
@import "styles/background";
@import "styles/cards";
@import "styles/cuerpo";
@import "styles/header";


a {
  text-decoration: none !important;
  font-size: larger;
  color: black !important;
}

.btn-outline-dark {

  &:hover {
    background-color: rgb(18, 228, 182) !important;
  }
}
