@import "styles/normalize";
@import "styles/vars";
@import "styles/background";
@import "styles/cards";
@import "styles/cuerpo";
@import "styles/header";


a {
  text-decoration: none !important;
  font-size: larger;
  color: black !important;
}

.btn-outline-dark {

  &:hover {
    background-color: rgb(222, 202, 72) !important;
  }
}

.active {
  $gradient-colors: $color10, $color9, $color8, $color7, $color6, $color5, $color4, $color3, $color2, $color1;
  background: linear-gradient(-45deg, $gradient-colors);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
